<!-- DYN -->
<script src="{{ "https://huiyichia.com/assets/js/jquery.min.js" | absolute_url }}"></script>
<script src="{{ "https://huiyichia.com/assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
<script src="{{ "https://huiyichia.com/assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
<script src="{{ "https://huiyichia.com/assets/js/skel.min.js" | absolute_url }}"></script>
<script src="{{ "https://huiyichia.com/assets/js/util.js" | absolute_url }}"></script>
<script src="{{ "https://huiyichia.com/assets/js/main.js" | absolute_url }}"></script>
